<div class="backdrop">
  <div id="underHeader" class="container">
    <div class="row">
      <h3 id="staticTitle" class="col-md-10">packoverflow</h3>
      
    </div>
  </div>
  <div id="main" class="container"></div>
</div>
<script>$(PackOverflow.initialize);</script>