<div class="backdrop">
  <div id="underHeader" class="container">
    <div class="row">
      <div id="logo" class="image col-md-1"> </div>
      <h3 id="staticTitle" class="col-md-11 normalWeight">pack<b>overflow</b></h3>
      
    </div>
  </div>
  <div id="main" class="container"></div>
</div>
<script>
  $(PackOverflow.initialize);
  window.currentUser = <%= current_user.to_json.html_safe %>;
</script>