<div class="backdrop">
  <div id="underHeader">
    <a href="#/questions/new">Ask a Qeustion</a>
  </div>
  
  <div id="main" class="container"></div>
</div>
<script>$(PackOverflow.initialize);</script>