<div class="row">
  <div class="col-md-4"></div>

  <div id="railsForm" class="col-md-4">
    <h2>Sign In</h2>

    <form action="/session" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <label>Username<br>
          <input name="user[username]" type="text"><br>
        </label><br>
        <label>Password<br>
          <input name="user[password]" type="password"><br>
        </label><br>

      <input class="btn btn-primary" type="submit" value="Submit">
    </form>
  </div>
</div>