<form class="form">
  <div class="form-group">
    <input type="hidden" name="answer[question_id]" value="<%= question.get('id') %>">
    <label for="body">body</label>
    <textarea id="body" name="answer[body]" class="form-control" autofocus='true'></textarea>
    <label for="tags">tags</label>
    <input type="text" id="tags" name="comment[tags]" class="form-control" autofocus='true'>NO TAGS YET</input>
  </div>
  <button class="btn btn-success">Post Your Answer</button>
</form>