<hr>

<div class="row">
  <div class="answerVoteBox voteBox col-xs-1"></div>
  <div class="col-xs-11">  
    <p><%= answer.get('body') %></p>
    <p><a href="/#/users/<%= answer.get('user_id') %>"><%= answer.username %></a> at <%= answer.get('created_at') %> </p>
    <ul class="answerCommentList commentList"></ul>
    <div class="commentForm"></div>
  </div>
</div>