

<div class="row">
  <div class="col-xs-1">
      <div class="answerVoteBox voteBox"></div>
  </div>

  <div class="col-xs-11"> 
    <div class="text">
      <p><%= answer.get('body') %></p>
    </div>
    <p> -<a href="/#/users/<%= answer.get('user_id') %>"><%= answer.username %></a> <%= timeSince(answer.get('created_at')) %> ago</p>
    <div class="row">
      <div class="col-xs-1"></div>
      <div class="col-xs-10">
        <ul class="answerCommentList commentList"></ul>
        <div class="commentForm"></div>
      </div>
    </div>
    
  </div>
  
</div>
<hr>