<hr>

<div class="row">
  <div class="answerVoteBox voteBox col-xs-1"></div>
  <div class="col-xs-11">  
    <%= answer.escape('body') %>
    <ul class="answerCommentList commentList"></ul>
    <div class="commentForm"></div>
  </div>
</div>