<div class="row">
  <div class="col-xs-12">
    <h3><%= user.get('username') %></h3>
    <hr>
  </div>
</div>

</div class="row">
  <div class="col-xs-6">
    Buncha stuff
  </div>
  <div class="col-xs-6">
    THINGS
  </div>
</div>

</div class="row">
  <div class="col-xs-6">
    Maybe comments
  </div>
  <div class="col-xs-6">
    Votes or something
  </div>
</div>