<div class="row">
  <div class="col-xs-12">
    <h3><%= user.get('username') %></h3>
    <hr>
  </div>
</div>

</div class="row">
  <div class="col-xs-6">
    <h4>User Questions</h4>
    <hr>
    <ul class="questionList"></ul>
  </div>
  <div class="col-xs-6">
    <h4>User Answers</h4>
    <hr>
    <ul class="answerList"></ul>
  </div>
</div>