<br>
<form class="form">
  <div class="form-group">
    <textarea id="body" name="comment[body]" class="form-control commentText" placeholder="comment"></textarea>
  </div>
  <button class="btn btn-primary">Post Your Comment</button>
</form>