<br>
<form class="form">
  <div class="form-group">
    <label for="body">add a comment</label>
    <textarea id="body" name="comment[body]" class="form-control commentText"></textarea>
  </div>
  <button class="btn btn-success">Post Your Comment</button>
</form>