<form class="form">
  <div class="form-group">
    <label for="body">body</label>
    <textarea id="body" name="comment[body]" class="form-control" autofocus='true'></textarea>
  </div>
  <button class="btn btn-success">Post Your Comment</button>
</form>