<div class="row">
  <div class="col-md-4"></div>
  <div id="railsForm" class="col-md-4">
    <form action="/users" method="post">
      <h2>Sign Up</h2>
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

        <label>Username<br>
          <input name="user[username]" type="text"><br>
        </label><br>
        <label>Email<br>
          <input name="user[email]" type="text"><br>
        </label><br>
        <label>Password<br>
          <input name="user[password]" type="password"><br>
        </label><br>

      <input class="btn btn-primary" type="submit" value="Submit">
    </form>

    <form action="/session" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input name="user[username]" type="hidden" value="Guest"><br>
            <input name="user[password]" type="hidden" value="g"><br>
        <input class="btn btn-primary" type="submit" value="Sign in as Guest">
    </form>
  </div>
</div>