<form id="railsForm" action="/users" method="post">
  <h2>Sign Up</h2>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <label>Username<br>
      <input name="user[username]" type="text"><br>
    </label><br>
    <label>Email<br>
      <input name="user[email]" type="text"><br>
    </label><br>
    <label>Password<br>
      <input name="user[password]" type="password"><br>
    </label><br>

  <input class="btn btn-primary" type="submit" value="Submit">
</form>
