<form class="form">
  <div class="form-group">
  <label for="title">Title:</label>
  <input type="text" name="question[title]" id="title" class="form-control" autofocus='true'></input>
  <br>
  <div class="wmdInsert"></div>  
  </div>
  <button class="btn btn-primary formButton">Post Your Question</button>
  
</form>