<form class="form">
  <div class="form-group">
  <label for="title">title</label>
  <input type="text" name="question[title]" id="title" class="form-control" autofocus='true'></input>
  <div class="wmdInsert"></div>  
  <input type="text" id="tags" name="question[tags]" class="form-control" autofocus='true'>tags</input> 
  </div>
  <button class="btn btn-success">Post Your Question</button>
</form>