

<div>
  <div class="row">
    <div class="col-md-10">
      <ul class="nav nav-tabs" role="tablist">
        <li id="top"><a class="switch menuLink" name="#top" href="#">Top</a></li>
        <li id="new"><a class="switch menuLink" name="#new" href="#">New</a></li>
        <li id="unanswered"><a class="switch menuLink" name="#unanswered" href="#">Unanswered</a></li>
      </ul>
      <br>
      <ul class="questionList"></ul>
    </div>
  <div class="col-md-2">
    <br>
    <div class="info">
      <h4>Welcome to Packoverflow</h4>
      <p> Packoverflow is a clone of <a href="http://www.stackoverflow.com">Stackoverflow</a> with an emphasis on backpacking related questions.</p>
    </div>
  </div>
</div>