

<div>
  <ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#">New</a></li>
    <li><a href="#">Hot</a></li>
    <li><a href="#">Top</a></li>
  </ul>
  <p>Top Questions</p>
  <ul class="questionList"></ul>
</div>