

<div>
  <div class="row">
    <div class="col-md-12">
      <ul class="nav nav-tabs" role="tablist">
        <li id="top"><a class="switch menuLink" name="#top" href="#">Top</a></li>
        <li id="new"><a class="switch menuLink" name="#new" href="#">New</a></li>
        <li id="unanswered"><a class="switch menuLink" name="#unanswered" href="#">Unanswered</a></li>
      </ul>
      <br>
      <ul class="questionList"></ul>
    </div>
  
    
    <div class="info">
      <h4>Welcome to Packoverflow</h4>
      <p> Pack Overflow is a question/answer site based on <a href="http://www.stackoverflow.com">Stack Overflow</a>. <br><br> Users can leave questions and answers, comment on either, and vote on their favorites. <br><br> You can view other users' questions and answers by clicking their names.</p>
      <button class="closeButton">close</button>
    </div>
  </div>
</div>