

<div>
  <ul class="nav nav-tabs" role="tablist">
    <li id="top"><a class="switch menuLink" name="#top" href="#">Top</a></li>
    <li id="new"><a class="switch menuLink" name="#new" href="#">New</a></li>
    <li id="unanswered"><a class="switch menuLink" name="#unanswered" href="#">Unanswered</a></li>
  </ul>
<br>
  <ul class="questionList"></ul>
</div>