<h4><%= question.escape('title') %></h4>

<p><%= question.escape('body') %></p>

<div id="questionVoteBox" class="voteBox"></div>

<ul id="questionCommentList" class="commentList"></ul>

<div id="questionCommentForm" class="form"></div>

<ul class="answerList"></ul>
  
<div id="answerForm" class="form"></div>