/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *
 */

@import "bootstrap";
@import "navbar";




body {
  padding-top: 60px;
  background-color: #C0C0C0;
  
/* background-image: image-url('Yosemite.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
 background-color: #1A1A1A;
background-position: center;*/
}

.text{
  background-color: #FFFFFF;
  display: inline-block;
  padding: 10px;
  margin-right: 0px;
  margin-right: 10px;
}

#logo{
  /*height: 60px;*/
  margin-right: 0px;
  padding-right: 0px;
  width: 60px;
  content: image-url('backpack.png');
}

#staticTitle{
  padding-left: 0px;
}

.underHeader {
  display:inline;
}

#main {
  background:#7f7f7f;
  background:rgba(255,255,255,0.7);
}

.navbar{
  background-color: #1A1A1A;
  border-color: #1A1A1A;
  background-image:none;
}

#railsForm {
  text-align: center;
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  background:rgba(255,255,255,0.7);
}

#editor {
  overflow:scroll;
  min-height:250px;
  max-width: 800px;
}

.menuLink, a.btn{
  color: #1A1A1A;
}

a:hover, a:focus{
  color: #FF9900;
}

.vote {
  margin-left: 6px;
  display: block;
  background: image-url('arrowSprite.png');
  overflow: hidden;
  width: 40px;
  height: 25px;
  cursor: pointer;
  
}
.voteNumbers{
 text-align: center;
 font-size: 24px; 
}

.voteText{
  text-align: center;
}

.voteDisplay{
  background-color: #FFFFFF;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: 0px;
  margin-left: 20px;
}

.vote.upvote {
  background-position:0px -25px;
}

.vote.downvote {
  background-position:43px 0px;
}
.vote.upvote.on {
  background-position:0px 0px;
}

.vote.downvote.on{
  background-position:43px -25px;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
  background-color: #FF9900;
  border-color: #FF9900;
 }

.btn
{
  background-color: #A0A0A0;
  border-color: #A0A0A0;
}
.voteBox{
  display: inline-block;
}
  
ul{
  padding-left: 0px;
 // margin-left: 0;
  list-style-type: none;
  list-style-position: outside;
}

.answerList{
  margin-left:15px;
}

#answerForm{
  margin: 20px;
}

#wmdInsert{
  margin-left: 20px;
  margin-right: 20px;
}

.commentText{
  max-width: 400px;
}

#editor{
  background-color: #FFFFFF;
  margin: 20px;
}

hr {
  border-color: #BBB;
}

.formButton{
  margin-bottom: 10px;
}

.normalWeight{
  font-weight: normal;
}

.noPad{
  padding:0px;
}

.scrollBox{
  height:300px;
  overflow: scroll;
}

.info{
  width: 200px;
  position: absolute;
  top:4%;
  right:4%;
  padding: 5px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-color: #CCCC99;
  background-color: #FFFFCC;
}